body {
	font-family: 'Quicksand', sans-serif;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div {
	position: absolute;	
	left: 50px;
}

p {
	font-size: 30px;
	max-width: 1300px;
}

#introText {
	top: 120px;
	text-align: center;
}

#tallyText p {
	display: inline-block;
}

#gameOverScreen {
	top: 280px;
}

#gameOverText {
	text-align: center;
}
